<footer class="footer">
  <div class="footer-column left">
    <img src="./assets\RentLogo.jpg" alt="Company Logo" class="company-logo" />
    
    <p>&copy; 2024 Membership+ Pvt Ltd</p>
  </div>
  <div class="footer-column center">
    <p>Version<br> 2.2.2</p>
  </div>
  <div class="footer-column right">
    <nav class="left-nav">
      
       <a href="#">About Us</a>
        <a href="#">Contact Us</a>
        <a href="#">Privacy</a>
        <a href="#">Terms of Use</a> 
         
    </nav>
  </div>
</footer>
