<div class="modal" *ngIf="!isLoggedIn">
  <div class="modal-content" *ngIf="showLogin">
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form">
      <h2>Login</h2>
      <input type="text" formControlName="username" placeholder="Username" class="login-input">
      <div
        *ngIf="loginFormControl['username'].invalid && (loginFormControl['username'].dirty || loginFormControl['username'].touched)"
        class="error">
        <small *ngIf="loginFormControl['username'].errors?.['required']">Username is required.</small>
      </div>
      <div class="password-container">
        <input [type]="hidePassword ? 'password' : 'text'" formControlName="password" placeholder="Password" class="login-input">
        <mat-icon class="eye-icon" (click)="togglePasswordVisibility()">{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </div>
      <div
        *ngIf="loginFormControl['password'].invalid && (loginFormControl['password'].dirty || loginFormControl['password'].touched)"
        class="error">
        <small *ngIf="loginFormControl['password'].errors?.['required']">Password is required.</small>
      </div>
      <button type="submit" class="login-btn" [disabled]="loginForm.invalid">Login</button>
      <p>Don't have an account? <a (click)="toggleSignUp()">Sign Up</a></p>
    </form>
  </div>
  <div class="modal-content" *ngIf="showSignUp">
    <form [formGroup]="signUpForm" (ngSubmit)="signUp()" class="signup-form">
      <h2>Sign Up</h2>
      <input type="text" formControlName="username" placeholder="Username" class="signup-input">
      <div
        *ngIf="signUpFormControl['username'].invalid && (signUpFormControl['username'].dirty || signUpFormControl['username'].touched)"
        class="error">
        <small *ngIf="signUpFormControl['username'].errors?.['required']">Username is required.</small>
      </div>
      <input type="email" formControlName="email" placeholder="Email" class="signup-input">
      <div
        *ngIf="signUpFormControl['email'].invalid && (signUpFormControl['email'].dirty || signUpFormControl['email'].touched)"
        class="error">
        <small *ngIf="signUpFormControl['email'].errors?.['required']">Email is required.</small>
        <small *ngIf="signUpFormControl['email'].errors?.['email']">Invalid email address.</small>
      </div>
      <input type="text" formControlName="mobileNumber" placeholder="Mobile Number" class="signup-input">
      <div
        *ngIf="signUpFormControl['mobileNumber'].invalid && (signUpFormControl['mobileNumber'].dirty || signUpFormControl['mobileNumber'].touched)"
        class="error">
        <small *ngIf="signUpFormControl['mobileNumber'].errors?.['required']">Mobile number is required.</small>
        <small *ngIf="signUpFormControl['mobileNumber'].errors?.['pattern']">Invalid mobile number.</small>
      </div>
      <div class="password-container">
        <input [type]="hidePassword ? 'password' : 'text'" formControlName="password" placeholder="Password" class="signup-input">
        <mat-icon class="eye-icon" (click)="togglePasswordVisibility()">{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </div>
      <div
        *ngIf="signUpFormControl['password'].invalid && (signUpFormControl['password'].dirty || signUpFormControl['password'].touched)"
        class="error">
        <small *ngIf="signUpFormControl['password'].errors?.['required']">Password is required.</small>
      </div>
      <div class="password-container">
        <input [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword" placeholder="Confirm Password" class="signup-input">
        <mat-icon class="eye-icon" (click)="toggleConfirmPasswordVisibility()">{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </div>
      <div
        *ngIf="signUpFormControl['confirmPassword'].invalid && (signUpFormControl['confirmPassword'].dirty || signUpFormControl['confirmPassword'].touched)"
        class="error">
        <small *ngIf="signUpFormControl['confirmPassword'].errors?.['required']">Confirm password is required.</small>
        <small *ngIf="signUpFormControl['confirmPassword'].errors?.['mustMatch']">Passwords must match.</small>
      </div>
      <button type="submit" class="signup-btn" [disabled]="signUpForm.invalid">Sign Up</button>
      <p>Already have an account? <a (click)="toggleLogin()">Login</a></p>
    </form>
  </div>
</div>

<div class="modal" *ngIf="isLoggedIn">
  <div class="modal-content" *ngIf="!showRentOptions">
    <div class="card rent" (click)="navigateToRent()">
      <img src="./assets/RentLogo.jpg" alt="Rent">
      <p>Rent</p>
    </div>
    <div class="divider"></div>
    <div class="card sell" (click)="navigateToSell()">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRI1m0tsDlTqxr3knGTCXiC5D0IrSHh8xqA4w&s"
        alt="Sell">
      <p>Sell</p>
    </div>
  </div>
  <div class="modal-content" *ngIf="showRentOptions">
    <div class="card groom" (click)="navigateTo('Groom')">
      <img src="./assets/groom.png" alt="Groom">
      <p>Groom</p>
    </div>
    <div class="divider"></div>
    <div class="card bride" (click)="navigateTo('Bride')">
      <img src="./assets/bride.png" alt="Bride">
      <p>Bride</p>
    </div>
    <div class="back-arrow" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </div>
  </div>
</div>