<div class="no-search-found-container">
  <div class="no-search-icon" >
    <mat-icon *ngIf="!isCartOpen; else noSearchIcon">search_off</mat-icon>
    <ng-template #noSearchIcon>
    <span style="font-size: 40px;" class="fancy-icon">🛒</span>
  </ng-template>
  </div>
  
  <div class="no-search-text">
    <h2>{{heading}}</h2>
    <p>{{subHeading}}</p>
  </div>
  <button class="cta-btn add-product-btn" (click)="addNewProduct()">
    <span>{{btnTitle}}</span>
    <mat-icon style="vertical-align: middle; margin-left: 4px;">add_circle</mat-icon>
  </button>
</div>
