.sort-panel {
  z-index: 1;
  position: fixed;
  right: 0;
  top: 0;
  width: 320px;
  height: 100%;
  background: linear-gradient(135deg, brown, black);
  padding: 20px;
  box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px 0 0 10px;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.reset-btn {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
  margin-top: -22px;
  transition: color 0.3s;
}

.reset-btn:hover {
  color: black;
}

.content {
  flex: 1;
  overflow: hidden;
}

.section {
  margin-bottom: 20px;
}

h4 {
  margin: 10px 0;
  font-size: 18px;
  color: black;
  font-weight: bold;
}

.sort-btn {
  margin: 10px 0;
  padding: 12px;
  border: 1px solid #ddd;
  background: brown;
  cursor: pointer;
  text-align: left;
  font-size: 14px;
  color: #ffffff;
  transition: background 0.3s, transform 0.2s;
  border-radius: 20px;
}

.sort-btn:hover {
  background: linear-gradient(45deg, black, transparent);
  transform: scale(1.05);
}

.sort-btns-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.btn-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.apply-btn {
  background: brown;
  color: white;
  border: none;
  cursor: pointer;
  padding: 12px;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 40px;
  border-radius: 20px;
  transition: background 0.3s, transform 0.2s;

 
}

.apply-btn:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.apply-btn:hover:not(:disabled) {
  background: linear-gradient(45deg, black, transparent);
  transform: scale(1.05);
}

.price-filter {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0;
}

.price-filter label {
  font-size: 14px;
  color: white;
}

.price-filter input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
}

.location-filter {
  margin-top: 10px;
}

.location-input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.location-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
