mat-dialog-content {
  padding: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

mat-divider {
  margin: 16px 0;
}

button {
  margin-right: 8px;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.cart-item:hover {
  transform: scale(1.02);
}

.product-image {
  width: 50px;
  height: 50px;
  margin-left: 16px;
  border-radius: 4px;
  object-fit: cover;
  padding-right: 20px;
}

.product-details {
  flex-grow: 1;
  margin-left: 16px;
}

.product-details p {
  margin: 0;
  font-size: 14px;
  color: #333;
  line-height: 1.5;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

button[mat-button] {
  background-color: #f44336;
  color: white;
  border-radius: 4px;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
}

button[mat-button]:hover {
  background-color: #d32f2f;
}

.qr-code-section {
  text-align: center;
  margin: 16px 0;
}

.qr-code-image {
  width: 250px;
  height: 250px;
}

.delivery-step {
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  background-color: #f9f9f9;
}

.delivery-details {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.my-cart-content {
  max-width: 600px;
  margin: auto;
}

.step-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.confirmation-box {
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.confirmation-box:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.confirmation-box p {
  margin: 0 0 10px;
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.highlight {
  font-weight: bold;
  color: #d32f2f;
}

.highlight-message {
  font-weight: bold;
  color: #333;
  margin-top: 10px;
  text-align: center;
  font-size: 1.2em;
}

@media (max-width: 600px) {
  .cart-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .product-image {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .product-details {
    margin-left: 0;
  }

  .step-buttons {
    flex-direction: column;
    gap: 10px;
  }
}
